.container {
  display: flex;
  min-height: 90vh;
  font-family: "Poppins", sans-serif;
}

/* LEFT SIDE */
.left {
  flex: 1;
  background: linear-gradient(135deg, #000, #333);
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1 {
  font-size: 40px;
}

.left p {
  margin-top: 10px;
  color: #ccc;
}

.details {
  margin-top: 30px;
  line-height: 2;
}

/* RIGHT SIDE */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM */
form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

textarea {
  height: 120px;
}

button {
  padding: 12px;
  background: black;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}
