.header {
  display: flex;
  flex-direction: row;
  background-color: yellow;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  text-decoration: none;

  /*postion fixed on top*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3000;

  /*prevent overflow*/
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.navpages {
  display: flex;
  gap: 20px;
}

.navpages a {
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s ease;
}
.navpages a:hover {
  transform: scale(1.2);
}
.hammenu {
  display: none;
  margin-right: 40px;
  cursor: pointer;
}
.show {
  display: flex !important;
}
@media (max-width: 998px) {
  .hammenu {
    display: block;
    margin-right: 5px;
  }
  .navpages {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    background-color: yellow;

    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    align-items: center;
    padding: 10px 0;
    border-radius: 8px;
    z-index: 4000;
  }
}
