.header {
  display: flex;
  background: #ffd700;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3000;
  box-sizing: border-box;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navpages {
  display: flex;
  gap: 20px;
}

.navpages a {
  text-transform: uppercase;
  text-decoration: none !important;
  color: black;
  font-weight: 500;
}

.navpages a:hover {
  transform: scale(1.1);
}

.hammenu {
  display: none;
  cursor: pointer;
}

.show {
  display: flex !important;
}

@media (max-width: 998px) {
  .hammenu {
    display: block;
  }

  .navpages {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    background-color: #ffd700;
    width: 90%;
    max-width: 300px;
    align-items: center;
    padding: 10px 0;
    border-radius: 8px;
  }
}
